<!DOCTYPE html>
<html lang="pt">

<head>
	<meta charset="utf-8">
	<title>Paradise Pies</title>
	
	<link rel="shortcut icon" href="Imagens/favicon.png">
	<link rel="stylesheet" media="screen" href="style.css?v=8may2013">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Isabela Andrade">
	<meta name="robots" content="all">	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	
	<script>
	$(document).ready(function(){
	  // Add smooth scrolling to all links
	  $("a").on('click', function(event) {

		// Make sure this.hash has a value before overriding default behavior
		if (this.hash !== "") {
		  // Prevent default anchor click behavior
		  event.preventDefault();

		  // Store hash
		  var hash = this.hash;

		  // Using jQuery's animate() method to add smooth page scroll
		  // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
		  $('html, body').animate({
			scrollTop: $(hash).offset().top
		  }, 800, function(){
	   
			// Add hash (#) to URL when done scrolling (default click behavior)
			window.location.hash = hash;
		  });
		} // End if
	  });
	});
	</script>
	
	
	<script>
	function msg() {
		alert("Encomenda Realizada!");
	}
	</script>
	
	
	<script>
			$(document).ready(function() {
  
			  $(window).scroll(function () {
				  //if you hard code, then use console
				  //.log to determine when you want the 
				  //nav bar to stick.  
				  console.log($(window).scrollTop())
				if ($(window).scrollTop() > 210) {
				  $('nav').addClass('navbar-fixed');
				}
				if ($(window).scrollTop() < 211) {
				  $('nav').removeClass('navbar-fixed');
				}
			  });
			});
	</script>
</head>

<body>

<header></header>

<div id="sticky-anchor"></div>
<nav>
	<a href="view/index.html"> Voltar ao Início </a>

</nav>


<div class="caixas">

	<div class="caixa">
		<h1>Cadastro de Tortas</h1>
		
		<form>
		
			<label for="foto">Foto da Torta:</label> 
			
			<input type="file" name="foto" id="foto">

			<br><br>
			
			<label for="nomeTorta">Nome da Torta:</label> 
			<input type="text" maxlength="150" id="nomeTorta" required placeholder="#00 - Torta"> 
			
			<br><br>
			
			<div class="preco">	
					<label for="p">Torta P:</label>	<input type="checkbox" value="Pequena" id="p"> <input type="number" placeholder="R$00,00"> <br>
					<label for="m">Torta M:</label>   <input type="checkbox" value="Media" id="m">  <input type="number" placeholder="R$00,00"> <br>
					<label for="g">Torta G:</label>	<input type="checkbox" value="Grande" id="g"> <input type="number" placeholder="R$00,00"> <br>
			</div>
			
			<p class="aligntext">
			<label for="descTorta">Descrição da Torta:</label> 
			<textarea rows="4" cols="46" id="descTorta" style="margin-left:7px"></textarea>
			</p>
		   
			<button type="submit">Incluir Torta</button>
		   
			<button type="reset">Resetar</button>
		  
		</form>
			
	</div>

	<footer>
	
			<div class="rs">
				<h2>Onde nos encontrar</h2>

			
					<a href="https://www.facebook.com/paradisepie/"> <img src="view/Social/facebook.png" alt="facebook"/> curta nossa página </a>
					<a href="https://www.instagram.com/paradise.pies/"> <img src="view/Social/instagram.png" alt="instagram"/> nos siga no instagram  </a>
					
					<br>
					 
					 <img src="view/Social/home.png" alt="Endereço"/> Rua 13 de Maio, 1220, Campo Grande - MS 
					 
					 <br>
					 
					 <img src="view/Social/email.png" alt="Email"/> paradisepies@gmail.com 
			
				
			</div>
			
			<div class="me">
			
			<h2>Sobre Mim</h2>
			
			<div class="caixaSobreMim">
			  
			  <img src="view/Imagens/me.jpg" class="portrait" alt="Sobre Mim"/> 
			  
			  Meu nome é Isabela, tenho 20 anos. Sou apaixonada por doces e por web design. Faço ambos com muito carinho, gosto de agradar as pessoas com as
			  coisas que eu sou boa. Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá 
			  
			</div>
			
		
			
			<a href="https://www.facebook.com/isaverlac/"><img src="view/Social/facebook.png" alt="facebook"/></a>
			<a href="https://twitter.com/isaverlac"><img src="view/Social/instagram.png" alt="instagram"/></a>
			<a href="https://www.instagram.com/isaverlac/"><img src="view/Social/twitter.png" alt="twitter"/></a>
			<a href="https://city0fglass.tumblr.com"><img src="view/Social/tumblr.png" alt="tumblr"/></a>
			
			</div>
	
		<div class="disclaimer">
			Layout inteiramente desenvolvido por Isabela Andrade Souza. Todos os direitos reservados. <br>
		Plágio é crime de acordo com a Lei Federal dos direitos autorais n°9610.
		</div>
		
	</footer>
</div>

</body>
</html>