/**
 * Arquivo .css do projeto Paradise Pies, de uso exclusivo.
 * Não serão permitidas cópias.
 * @author Isabela Andrade Souza


Folha de Estilo.
**/

body {
	color:#696969;
	font-family:calibri;
	font-family: 'Open Sans Condensed', sans-serif;
	background:#fff;
}

/*** SCROLLBAR ***/

	::-webkit-scrollbar {width:10px; height:10px; overflow-x: hidden }
    ::-webkit-scrollbar-thumb:vertical {height:10px; background-color:#FFCBC6; opacity:.5; } 
    ::-webkit-scrollbar-thumb:horizontal {overflow-x: hidden }
	
/* LINKS EM GERAL */
	
a {
text-decoration:none;
transition:0.5s ease-in; 
-moz-transition:0.5s ease-in; 
-webkit-transition:0.3s ease-in; 
color:#ffa99f;

}	

/* HEADLINGS */

h1 {
	color:#FFA99F;
	font-family: 'Sacramento', cursive;
	margin-top:50px;
}

h2 {	
	color:#696969;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:20px;
	text-align:center;
	}
	
h3 {
	color:#FFA99F;
	font-family: 'Open Sans Condensed', sans-serif;
}	

/* BOTOES */

button, .botao a {
	width:200px;
	text-align:center;
	background-color:#ffa99f;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:none;
	border-top:1px #d5d5d5 solid;
	border-bottom:2px #b5b5b5 solid;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:5px 35px;
	text-decoration:none;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:20px;	
}
	button:hover {
		opacity:.5;
	}

	button a {
		color:#fff;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size:20px;	
	}
	
	.botaoAlterar {
		width:auto;
		padding:0px 5px 0px 5px;
	}

/* HEADER */

header {
	width:100%;
	height:200px;
	position:absolute;
	padding:5px;
	left:0;
	top:0;
	background:#FFA99F;
	background-image: url('Imagens/PPlogo.png');
	background-position: top center;
	background-repeat:no-repeat;
	background-size:200px 200px;	
}


/* MENU */

nav {
	width:100%;
	height:auto;
	top:210px;
	position:absolute;
	padding:5px;
	left:0;
	z-index:5;
	background:#e8e8e8;
	text-align:center;
	margin:auto;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
	position: fixed;
    width: 100%;
}


	nav a {
		color:#FFA99F;
		text-transform:uppercase;
		text-align:center;
		width:auto;	
		margin: 0 30px 0 30px;
		padding:5px;
		font-weight:bold;
	}
	
	nav a:hover {
		color:#696969;
	}

/* CAIXAS */

.caixa {
	width:100%;
	height:auto;
	position:relative;
	padding:5px 5px 50px 5px;
	left:0;
	top:233px;
	background:#f1f1f1;
	text-align:center;
	margin:auto;
}

.caixa:nth-child(even) {
	background:#fff;
}

/* CARDAPIO */


/** CODIGO POPUP TTHY**/

#fade {
	display: none; 
	background: #000; 
	position: fixed; left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	opacity: .80; 
	z-index: 9999;
}
.popup_block{
	display: none;
	background: #fff; 
	padding: 10px; 
	float: left; 
	position: fixed; 
	top: 50%; 
	left: 50%; 
	z-index: 99999;

}
img.btn_close {
	float: right; 

	width:25px;
	height:25px;
}
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}

.opcao {
	margin:50px;
	width:200px;
	position:relative;
	display:inline-block;
}


.cardapio a {
	border-radius:100%;
	opacity:0;
	background:#f1f1f1;
	text-transform:uppercase;
	font-weight:bold;
	width:200px;
	height:200px;
	padding:5px;
	line-height:200px;
	display:inline-block;
	margin-top: -207px;
    margin-left: -105px;
	position:absolute;
	transition:0.5s ease-in; 
	-moz-transition:0.5s ease-in; 
	-webkit-transition:0.3s ease-in; 
}

.cardapio a:hover {
	opacity:1;
}

	.opc {
	width:97%;
	padding:5px;
	margin: 2px;
	background:#FFA99F;
	color:#fff;
	text-align:center;
	font-weight:bold;
	font-size:15px;
	display:inline-block;
	}
	

	.opcao img {
		border-radius:100%;
		width:150px;
		height:150px;
		transition:0.5s ease-in; 
		-moz-transition:0.5s ease-in; 
		-webkit-transition:0.3s ease-in; 
	}
	
	.opcao img:hover {
		 -webkit-filter: grayscale(100%); 
		 filter: grayscale(100%);
	}
	
	.info {
		width:98%;
		max-height:80px;
		margin-top:15px;
		overflow:auto;
		padding:5px;
		background:#f1f1f1;
		
	}
	
	
	.opcao a {
		color:#696969;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:20px;
	text-align:center;
	}
	
		
/* ENCOMENDE */

.encomende h2 {
	color:#FFA99F;
}

.e {
	width: 40%;
	height:auto;
	margin:auto auto 15px auto;
	background:#FFA99F;
	padding:15px;
	color:#ffffff;
}

.e h2 {
	color:#ffffff;
}

.e img {
	width:auto;
	height:auto;
}
label {
	width:200px;
	text-align:center;
	display: inline-block;
	color:#696969;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:20px;
}

input {
	margin-left:10px;
	width:300px;
}

input[type="radio"] {
	margin-left:10px;
	width:10px;
}


select {
	margin-left:10px;
	width:300px;
	color:#B3A9A9;
}

option {
	color:#B3A9A9;
}

textarea {
	color:#B3A9A9;
	font-family:calibri;
}

/** PARA CENTRALIZAR O LABEL DO TEXTAREA **/

.aligntext * {
  vertical-align: middle;
}

/** TAMANHO DO INPUT DOS PRECOS DAS TORTAS **/

.preco input {
	width:140px;
}

/** TABELAS **/

table {
 border-collapse: collapse;
margin:auto;
} 

th, td, tr {

 width:auto;
 padding: 5px 15px 5px 15px;
} 


td img {
	width:100px;
	border-radius:100%;
}

td img.close{
	width:25px;
	height:25px;
}

th {
  background:#FFA99F;
  color:#fff;
  text-align:center;
} 

tr:nth-child(even) {
    background-color: #e8e8e8;
}

tr:nth-child(odd) {
    background-color: #fff;
}


/** CARRINHO DE COMPRAS **/

.carrinho {
	background:red;
	width:350px;
	position:relative;
}

.carrinho img {
	width:100px;
	height:100px;
	border-radius:100%;
	float:left;
}


/* FOOTER */

footer {
	width:100%;
	height:auto;
	position:absolute;
	padding:5px;
	left:0;
	background:#FFA99F;
	color:#ffffff;
	padding:5px;
	text-align:center;
	margin-top:200px;
	padding-bottom:50px;
}


footer h2 {
	color:#ffffff;
	text-align:center;
	
}

/** SOBRE MIM **/


.caixaSobreMim {
  
  width:400px;
  height:120px;
  margin:auto;
}


.me {

	width:40%;
	height:auto;
	float:right;
	text-align:center;
	padding:10px;
	
}

.me img.portrait {
	width:100px;
	height:100px;
	float:left;
	vertical-align:middle;
}

.me img {
	width:40px;
	margin:5px;
}

/** REDES SOCIAIS **/


.rs{

	width:40%;
	height:auto;
	float:left;
	text-align:center;
	color:#fff;	
	padding:10px;
}

.rs a {
	color:#fff;
	
}

.rs img {
	width:40px;
	height:auto;
	vertical-align:middle;
	margin:1px;
}

/** CREDITOS **/

.disclaimer {
	text-align:center;
	width:100%;
	height:auto;
	background:#ff9a8e;
	color:#ffffff;
	position:absolute;
	bottom:0;
}



/* SELECAO COLORIDA  */

::selection {
	color:#ffffff; 
	background:#FFA99F
	}; 

